[Unit]
Description=daily do something

[Timer]
# ブート後、この時間後にこのタイマーを開始する
OnBootSec=1min
# 実行する時間の間隔
OnUnitActiveSec=65s
Unit=b.service

[Install]
WantedBy=timers.target
